.streak-container {
    margin: 2em;
}

.title-row {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.streak-name-row {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}