.streak-container {
    margin: 2em;
}

.title-row {
    display: flex;
    align-items: center;
    margin-bottom: 3em;
}

.streak-name-row {
    display: flex;
    align-items: center;
    margin-bottom: 3em;
}

.date-picker-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}