:root {
    --warning-color: #FFA500;
}

.streak-main-container {
    margin: 2em;
}

.title-row {
    display: flex;
    align-items: center;
    margin-bottom: 3em;
}

.streak-name-row {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.date-picker-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.streak-container {
    margin-bottom: 3em;
    padding: 1em;
}

.streak-details {
    margin-left: 1em;
}

.fire-icon {
    color: var(--warning-color);
}